.sendForm {
  display: flex;

  .sendForm__input {
    flex-grow: 1;
    max-width: 80%;
    border-radius: 0 0 0 1em;
    border-right: none;
  }

  .sendForm__button {
    width: 20%;
    border-radius: 0 0 1em 0;
  }

  .sendForm__input,
  .sendForm__button {
    padding: 0.5rem;
  }
}
