@use "../../media.scss";

.chat {
  position: relative;
  height: 100vh;
  height: 100dvh;
  width: 100%;

  display: flex;

  box-shadow: 0.3em 0.3em 0.5em 0.3em var(--clr-border);
  border-radius: var(--border-radius);
  overflow: hidden;

  .chat__wrapper {
    flex: 1;
  }

  @include media.min-width(medium) {
    position: absolute;
    right: 1em;
    bottom: 1em;
    max-width: 38em;
    max-height: 45em;
  }
}
