@use "../../media.scss";

.chatWrapper {
  margin: auto;

  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  text-align: center;
  padding: 0 1em;
  font-size: 1.2rem;

  border: 1px solid;
  border-radius: 12px;
  box-shadow: 0 0 3px 3px;

  overflow: hidden;

  .chatWrapper--header {
    font-size: 4rem;
    padding: 0.5em;
  }

  .chatWrapper--description {
    min-height: 10em;
  }

  .animatedText1 {
    opacity: 0;
    animation: fadeIn0 300ms ease-out;
    animation-fill-mode: forwards;
  }
  .animatedText2 {
    opacity: 0;
    animation: fadeIn1 300ms ease-out 1;
    animation-fill-mode: forwards;
  }
  .animatedText0 {
    opacity: 0;
    animation: fadeIn2 300ms ease-out 1;
    animation-fill-mode: forwards;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
  }

  .selectWrapper {
    display: flex;

    .selectWrapper__item {
      display: flex;
      flex-direction: column;
      flex: 1;

      .chatWrapper--submitButton {
        align-self: center;
        font-size: 1.2rem;
        width: 10em;
        height: 8em;
        border-radius: 1em;
        cursor: pointer;
        transition: box-shadow 300ms ease-out, transform 300ms ease-out;
      }

      .chatWrapper--submitButton:hover {
        transform: translate(-3px, -3px);
      }

      .selectWrapper__item--confingWrapper {
        display: flex;
        padding: 0 1em;
        gap: 1em;
        text-align: left;

        input[type="checkbox"] {
          transform: scale(2);
        }
      }
    }
    .selectWrapper__item:nth-child(1) {
      .chatWrapper--submitButton {
        background-color: #539e8e;

        &:hover {
          box-shadow: 4px 4px 5px 5px #539e8e;
        }
      }
    }

    .selectWrapper__item:nth-child(2) {
      .chatWrapper--submitButton {
        background-color: #636da5;
        &:hover {
          box-shadow: 4px 4px 5px 5px #636da5;
        }
      }
    }

    .selectWrapper__item:nth-child(3) {
      .chatWrapper--submitButton {
        background-color: #d43396;
        &:hover {
          box-shadow: 4px 4px 5px 5px #d43396;
        }
      }
    }
  }

  @include media.min-width(medium) {
    .selectWrapper {
      .selectWrapper__item {
        .selectWrapper--submitButton {
          width: 10em;
          margin: 0 1em;
        }
      }
    }
  }
}

// if someone knows how to do it better tell me
@keyframes fadeIn0 {
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn1 {
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  100% {
    opacity: 1;
  }
}
