.chat__body {
  border: 1px solid purple;
  border-radius: 1em 1em 0 0;

  height: calc(100% - 2.25em);
  overflow-y: scroll;
  .chat__body--spinnerWrapper {
    display: flex;
    justify-content: center;
  }

  .chat-display {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow-y: scroll;
    flex-grow: 1;

    .post {
      background-color: #eee;
      border-radius: 0.8em;
      padding: 0 0 0.25rem;
      margin: 0.25rem 0;
      overflow: hidden;
      flex-shrink: 0;

      .post__header {
        color: #fff;
        padding: 0.25rem 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        .post__header--name {
          font-weight: bold;
        }

        .post__header--time {
          font-size: 0.8rem;
        }
      }

      .post__header--user {
        background-color: blue;
      }

      .post__header--reply {
        background-color: purple;
      }
    }
    .post--left {
      width: 60%;
      align-self: flex-start;
    }

    .post--right {
      width: 60%;
      align-self: flex-end;
    }

    .post--center {
      margin-top: 5px;
      color: #333;
      align-self: center;
      padding: 0.25rem 0.5rem;
    }

    .post__text {
      margin-top: 5px;
      color: #333;
      padding: 0.25rem 0.5rem;
    }
  }
}
