.sendForm {
  width: 100%;
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.25rem;

  .sendForm__input {
    flex-grow: 1;
    max-width: calc(80% - 0.25rem);
  }

  .sendForm__button {
    width: 20%;
  }

  .sendForm__input,
  .sendForm__button {
    border-radius: 10px;
    padding: 0.5rem;
  }
}
