.chat__body {
  border: 1px solid purple;
  border-radius: 1em 1em 0 0;

  height: calc(
    100% - var(--sendForm-height) - var(--typingNotification-height)
  ); // removing heights of the SendForm and TypingNotifications elements
  overflow-y: scroll;

  .chat__body--spinnerWrapper {
    display: flex;
    justify-content: center;
  }

  .chatDisplay {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow-y: scroll;
    flex-grow: 1;

    .postWrapper {
      display: flex;
      flex-flow: column;
    }

    .post {
      background-color: #eee;
      border-radius: 0.8em;
      padding: 0 0 0.25em;
      margin: 0.5em 0;
      overflow: hidden;
      flex-shrink: 0;

      .post__header {
        color: #fff;
        padding: 0.25em 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;

        .post__header--name {
          font-weight: bold;
        }

        .post__header--time {
          font-size: 0.8rem;
        }
      }

      .post__header--user {
        background-color: blue;
      }

      .post__header--reply {
        background-color: purple;
      }
    }
    .post--left {
      width: 80%;
      align-self: flex-start;
    }

    .post--right {
      width: 80%;
      align-self: flex-end;
    }

    .post--center {
      margin-top: 0.3em;
      color: #333;
      align-self: center;
      padding: 0.25em 0.5em;
    }

    .post__text {
      margin-top: 0.3em;
      color: #333;
      padding: 0.25em 0.5em;
    }

    .post--new {
      color: transparent;
      font-weight: bold;
      background: linear-gradient(45deg, blue, red);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}
