:root {
  --spinner-color: white;
  --border-radius: 0.8em;
  --chatHeader-height: 4.435em;
  --sendForm-height: 2.19em;
  --sendForm-height: 1.95em;
  --chatBody-width: 30em;
  --chatRooms-maxWidth: 12em;
  --clr-main-font: #bfbfbf;
  --clr-bg-main: #1d5680;
  --clr-bg-secondary: #1366a1;
  --clr-border: #2f7aa5;
  --clr-shadow: #103a53;
  --clr-indicatorOff: #ca4949;
  --clr-indicatorOn: lightgreen;
  --clr-delete: rgb(39, 11, 11);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-main-font: #aeaeae;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

/* changing text vertical alignment for react-avatar component */
.sb-avatar {
  .sb-avatar__text {
    div {
      span {
        span {
          vertical-align: sub;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
