.sendForm {
  display: flex;

  .sendForm__input {
    flex-grow: 1;
    padding: 0.5rem;
  }

  .sendForm__button {
    svg {
      width: 1.5em;
      height: 1.5em;
      fill: white;
    }
  }

  .sendForm__input,
  .sendForm__button {
    border: none;
    background: transparent;
    background-color: var(--clr-bg-main);
  }
}
