@use "../../../../../media.scss";

.chat__rooms {
  list-style: none;
  background: linear-gradient(
    270deg,
    var(--clr-bg-main),
    var(--clr-bg-secondary)
  );
  overflow: scroll;
  width: fit-content;
  max-width: var(--chatRooms-maxWidth);
  padding: 0;

  .chat__rooms--mobileHidden {
    display: none;
  }

  .chat__rooms--avatarContainer {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.1rem;
  }

  .chat__rooms--room {
    position: relative;
    margin-top: 0.2em;
    cursor: pointer;
    border: 1px solid var(--clr-border);
    padding: 0.8em;
    border-radius: 0.25em;

    .chat__rooms--ownerPresence {
      position: absolute;
      left: 0.3em;
      top: 0.3em;
      width: 0.5rem;
      height: 0.5rem;
      background-color: var(--clr-indicatorOff);
      border-radius: 50%;
    }
    .chat__rooms--ownerPresenceOn {
      background-color: var(--clr-indicatorOn);
    }
  }
  .chat__rooms--userName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .chat__rooms--roomActive {
    color: goldenrod;
    box-shadow: 0 0 3px 3px var(--clr-border);
  }

  .chat__rooms--lastMsgTimestamp {
    position: absolute;
    right: 2.5em;
    bottom: 0em;
    font-size: 0.8rem;
  }

  .chat__rooms--unreadMsgsIndicator {
    position: absolute;
    right: 0.1em;
    bottom: -0.3em;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--clr-indicatorOff);
    border-radius: 50%;
    font-size: 0.8rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chat__rooms--typingIndicator {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    font-size: 0.8rem;
  }

  @include media.min-width(medium) {
    .chat__rooms--room {
      margin: 0.5em 0.5em 0 0.5em;
      margin-top: 0.5em;
      padding: 0.5em;
    }

    .chat__rooms--mobileHidden {
      display: initial;
    }
  }
}
